{% block content %}
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="text-decoration:none" width="100%">
        <tr>
            <td align="center" style="font-family: 'Roboto', sans-serif; font-size: 16px; mso-height-rule: exactly; line-height:22px; color: #1e1f21; padding:0px 0px; text-align: left" valign="top">
                <p style="margin: 0; padding: 0px 0px 0px 0px">
                    <span>Merci de cliquer sur le lien ci-dessous pour réinitialiser votre mot de passe.</span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <table align="left">
                    <tr>
                        <td align="left" style="font-family: 'Roboto', sans-serif; font-size: 16px; mso-height-rule: exactly; line-height:22px; color: #1e1f21; padding-top: 10px; text-align: left" valign="top">
                            <p class="reset" style="margin: 0; padding: 15px 20px 15px 20px; background-color:#1a389a; vertical-align: middle" align="left">
                                <a href="{{ frontBaseUrl }}{{ frontNewpwdUrl }}/{{ token }}" style="text-decoration: none; color:#ffffff">Réinitialiser</a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}